@import "tailwindcss";

:root {
  --background: #f1efef;
  --foreground: #8ba0df;
  --primary: #8ba0df;
  --secondary: #728ee2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #8ba0df;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .footer {
    @apply flex justify-center items-center p-5 w-full rounded-2xl;
  }

  .bg-primary {
    background-color: var(--primary);
  }
}
