@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: linear-gradient(135deg, #f5f3f3 0%, #f1efef 40%, #b0aeae 100%);
  --foreground: #8ba0df;
  --primary: #8ba0df;
  --secondary: #728ee2;
}

.dark {
  --background: linear-gradient(135deg, #3a3a3a 0%, #363535 40%, #3a3a3a 100%);
  --foreground: #8ba0df;
  --primary: #8ba0df;
  --secondary: #728ee2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .footer {
    @apply flex justify-center items-center p-5 w-full rounded-2xl;
  }

  .bg-primary {
    background-color: var(--primary);
  }

  .text-foreground {
    color: var(--foreground);
  }
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
    @apply border-border outline-ring/50;
  } */

  body {
    background: var(--background);
    color: var(--foreground);
  }
}
